form {
	color: grey;
	width: -moz-min-content;
	font-family: arial;
}

input {
	margin-bottom: 20px;
	border-radius: 3px;
	border: 1px solid gray;
}

button {
	background-color: grey;
	color: white;
	font-weight: bold;
	height: 30px;
	border-radius: 3px;
	border: 1px solid gray;
}

select {
	border-radius: 3px;
	border: 1px solid gray;
}

textarea {
	border-radius: 3px;
	border: 1px solid gray;
	
}